{% extends 'base.html.twig' %}

{% block title %}Editar Producto{% endblock %}

{% block body %}
<div class="container2">
    <h1>Edite el producto</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
    
<a href="{{ path('index') }}" class="Back">Volver a la lista</a>
</div>
{% endblock %}
