{% extends 'base.html.twig' %}

{% block title %}Nuevo Producto{% endblock %}

{% block body %}
<div class="container2">
    <h1>Crea un nuevo producto: </h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('index') }}" class="ursBack">Volver a la lista</a>
</div>
{% endblock %}
