{% extends 'base.html.twig' %}

{% block title %}Editar Usuario{% endblock %}

{% block body %}
    <h1>Edite el usuario</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}


 <a href="{{ path('index') }}" style="font-size:50px; top:90%; position:fixed;">Volver a la lista</a>
{% endblock %}
