{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}
    <h1>Crea el nuevo usuario</h1>

    {{ include('users/_form.html.twig') }}

    <a href="{{ path('index') }}">Volver</a>
{% endblock %}
