{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}
{% block stylesheets %}  <link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}"/> {% endblock stylesheets %}
{% block body %}
<div class="container2">
    <h1>Crea el nuevo usuario: </h1>

    {{ include('users/_form.html.twig') }}

   <a href="{{ path('index') }}" style="font-size:50px; top:90%; position:fixed;">Volver a la lista</a>
</div>
{% endblock %}
